.list-group{
    max-height: 700px;
    margin-bottom: 10px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y:scroll;
    /*-webkit-overflow-scrolling: touch;*/
}

.exam_title{
   text-align: center;
}