{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'STATICROOT/admin/css/exam_list.css' %}" type="text/css">
    {% endblock %}

    <div class="assessmentControls">
        <h2>Classroom Manager</h2>
        <br>
        <a href="{% url 'create_class' %}" class="btn btn-outline-primary btn-sm">Create a new class</a>
        <a href="{% url 'view_class' %}" class="btn btn-outline-info btn-sm">View a class</a>
        </p>
    </div>
    <p>
{% endblock %}