{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create Class</h1>
    <p>
    Please use the following example when generating the csv:
    <br><br>

    student_first_name,student_last_name,student_number,class_name <br>
    tony,tea,10125896,Bio 30

    </p>
    <form method="POST" action="/class/create" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form.media }}#}
{#        {{ form|crispy }}#}
        {% crispy form %}
    <input type="submit" value="Submit" class="btn btn-success">
    </form>
{% endblock %}