{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create Class</h1>
    <p>
    Upload a csv file with the headers in the following format:
    student_first_name,student_last_name,student_number,class name
    <br>
    For example, <br>


    </p>
    <form method="POST" action="/class/create" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form.media }}#}
{#        {{ form|crispy }}#}
        {% crispy form %}
    <input type="submit" value="Submit" class="btn btn-success">
    </form>
{% endblock %}