{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
 <h2>Mark Assessment</h2>
    {% if marked_exams %}
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Exam</th>
                <th>Name</th>
                <th>Score</th>
                <th>Download</th>
                <th>Marking Image</th>
            </tr>
            </thead>
            <tbody>
                {% for marked_exam in marked_exams %}
                    <tr>
                        <td>
                            exam
                        </td>
                        <td>
                            {{ marked_exam.student.first_name }}
                            {{ marked_exam.student.last_name }}
                        </td>
                        <td>
                            {{ marked_exam.score|floatformat:2 }}
                        </td>
                        <td>
                            download
                        </td>
                        <td>
                            image
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit", class="btn btn-primary">Upload Another Exam</button>
        </form>
    {% else %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit", class="btn btn-primary">Upload Exam</button>
        </form>
    {% endif %}

{% endblock %}